.select-label-160{
  legend{
    span{
      background: red !important;
      width: 160px;
      display: block;
    }
  }
}
.select-label-120{
  legend{
    span{
      background: red !important;
      width: 120px;
      display: block;
    }
  }
}