.method-payment__radio-item{
  &:hover{
    background-color: #EC656C;
    border-color: white !important;
    color: white;
  }
}
.send-payment__form{
  input{
    border: 1px solid #707070;
  }
}
.send-payment__address{
  background-color: #F2E5E5;
}